/* colors yellow-FDFDBD green-C8FFD4 blue-B8E8FC purple-B1AFFF */

body {
    background-color: #FDFDBD;
    font-family: sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    text-align: center;
}

h6 {
    font-weight: 100;
    text-align: center;
}

.table-of-contents {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.dish-name {
    font-size: 48px;
    text-align: left;
}

.description {
    background-color: #B1AFFF;
}

.ingredients {
    background-color: #C8FFD4;
}

.steps {
    background-color: #B8E8FC;
}

ul {
    list-style-type: square;
    text-align: left;
}

ol {
    list-style-type: cjk-decimal;
}

img {
    height: auto;
    width: 50%;
    max-width: 500px;
}